body {
    background: #f1f1f1;
    margin: 20px;
    text-align: center;
    font-family: Arial;
}

#television {
    border: 2px solid #000;
    margin: 50px auto;
    width: 500px;
    height: 300px;
    padding: 50px 30px;
    position: relative;
    background-color: #E0E0E0;
}

.television-inner {
    border: 2px solid #000;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
}

.power-btn {
    position: absolute;
    bottom: 12px;
    right: 40px;
    padding: 1px 5px;
    border-radius: 10px;
    color: red;
    border-color: red;
}

.power-window button {
    padding: 1px 5px;
    border-radius: 10px;
}

.power-btn:focus, .power-window button:focus {
    outline: none !important;
}

.btn-on {
    color: #18CA18;
    border-color: #18CA18;
}

.power-window {
    position: absolute;
    right: 12px;
    bottom: 0px;
    padding: 5px;
    display: none;
    background-color: #333333;
}

.tv-on {
    background-color: #2a6496;
}

.volume {
    position: absolute;
    color: white;
    right: 5px;
    top: 5px;
    display: none;
}